body {
  font-family: "Roboto", sans-serif;
  background-color: #AFAFAF !important;
}

#title {
  font-size: 1.7rem;
  margin: 0;
}

.container-fluid {
  background-color: white;
}

textarea {
  resize: none !important;
}

.CodeMirror {
  border: 2px solid black;
  border-radius: 5px;
}

.img-container {
  padding: 4px;
  border: 2px solid black;
  border-radius: 5px;
}

footer {
  background-color: white;
}